.App {
  text-align: center;
}

.App-title {
  margin: 0;
  padding: 40px 0px;
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

#Black {
  background: black;
  color: white;
}

#White {
  background: white;
  color: black;
}

#Green {
  background: lightgreen;
}

.info {
  color: black;
  margin: auto;
  padding: 20px 0;
  width: 200px;
  border-radius: 15px;
  background: lightgrey;
}
